@import "variables";
@import "mixins";



body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    background-color: $backgroundColor;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: white;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        color: darken($primary,20%);
    }
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(white, 0.3);
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: $backgroundColor;
    .navbar-toggle {
        padding: 4px 6px;
        font-size: 16px;
        color: white;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .navbar-brand {
        font-weight: 700;
        color: white;
        &:focus {
            outline: none;
        }
    }
    a {
        color: white;
    }
    .nav {
        li {
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                &:hover {
                    color: rgba(white, 0.8);
                    outline: none;
                    background-color: transparent;
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
            }
            &.active {
                outline: none;
                a {
                    background-color: rgba(white, 0.3);
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            background: $backgroundColor;
            border-bottom: 1px solid rgba(white, 0.3);
        }
    }
}

.intro {
    display: table;
    width: 100%;
    height: 99%;
    padding: 80px 0;
    text-align: center;
    color: white;
    overflow: hidden;
    position: relative;

    .intro-body {
        display: table-cell;
        vertical-align: middle;

        .intro-text {
            font-size: 18px;
        }
    }
    @media(min-width:768px) {
        height: 100%;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 100px;
            }
            .intro-text {
                font-size: 26px;
            }
        }
    }
}



.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 100% !important;
    font-size: 40px;
    color: white;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover,
    &:focus {
        outline: none;
        color: white;
        background: rgba(white, 0.1);
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    &:hover {
        i.animated {
            -webkit-animation-name: pulse;
            -moz-animation-name: pulse;
            -webkit-animation-duration: 1.5s;
            -moz-animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    from {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: white;
    background-color: $backgroundColor;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

.welcome h1,
.name h1 {
    display: inline-block;
    font-size: 500%;
}

.welcome,
.name,
.developer {
    position: relative;
}

.name,
.welcome {
    height: 100px;
}

.name {
    top: 27%;
}

.welcome {
    top: 25%;
}

.bar {
    font-weight: 300;
}

.developer {
    top: 30%;
}

.btnContainer {
    text-align: center;
    position: relative;
    top: 36%;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 150px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }

    .portfolio-download {
        padding-top: 30px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
    &:hover,
    &:focus {
        border: 1px solid $primary;
        outline: none;
        color: black;
        background-color: $primary;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    padding: 50px 0;
    p {
        margin: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: rgba(white, 0.2);
}

.project {
    width: 330px;
    height: 330px;
    background-color: white;
    display: inline-block;
    border-radius: 15px;
}

.project:hover {
    cursor: pointer;
}

.memoryMatch {
    background-image: url("../img/Screenshot (16).png");
}

.expenseTracker {
    background-image: url("../img/Screenshot (17).png");
}

.paws {
    background-image: url("../img/Screenshot (18).png");
}

.memoryMatch,
.expenseTracker,
.paws {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.projectShow {
    display: none;
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    border-radius: 15px;
}

.projectShow h4,
.projectShow p {
    color: #5e5e5e;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.projectShow h4 {
    margin-bottom: 10px;
}

.projectShow p {
    font-size: 18px;
}

.projectShowText {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
}

.projectShowBtn,
.projectGithubBtn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 120%;
    width: 60%;
    height: 35px;
}

.projectGithubBtn:hover,
.projectShowBtn:hover {
    cursor: pointer;
}

.projectShowBtn {
    bottom: 25%;
}

.projectGithubBtn {
    bottom: 10%;
}

.projectShowBtn span,
.projectGithubBtn span {
    position: relative;
    top: 15%;
}

.brand-heading {
    font-size: 490%;
}

.firstSkillRow .skillList {
    width: 33.3%;
}

.skillList {
    display: inline-block;
}

.skillList ul {
    list-style-type: none;
    padding: 0;
}

.skillList ul li {
    position: relative;
}
.icon {
    width: 25px;
    height: 25px;
}

.skillList span {
    font-size: 145%;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.skillList h4 {
    font-size: 170%;
}

h2 {
    font-size: 270%;
}

.mainSkillDiv {
    width: 100%;
}

.firstSkillRow {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.secondSkillRow {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#skills {
    padding-top: 100px;
    height: 100%;
}

#skills .download-section {
    padding-top: 40px;
}

.intro-body {
    height: 100%;
}

.container,
.introContainer {
    height: 100%;
}

.introRow {
    height: 100%;
}

.introContainer {
    position: relative;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.portfolioBtn,
.contactBtn {
    position: relative;
    color: white;
    font-size: 120%;
    border-color: white;
    width: 185px;
}

.linkedinBtn,
.githubBtn {
    width: 22px;
    padding-right: 5%;
    vertical-align: middle;
}

.githubBtn {
    width: 35px;
}

.linkedinContact span,
.github span {
    vertical-align: middle;
    color: black;
}

.linkedinContact,
.github {
    background-color: white;
    opacity: 0.8;
    border: 1px solid gray;
}

#portfolio {
    padding-top: 100px;
}

.emailLink {
    text-decoration: underline;
}


@media(max-width:1024px) and (orientation: portrait){
    .nav li {
         font-size: 150%;
     }
    .contactBtn {
        bottom: 7%;
    }
    .portfolioBtn {
        bottom: 13%;
    }
    .portfolioBtn,
    .contactBtn {
        font-size: 190%;
        width: 215px;
    }
    #about p {
        font-size: 175%;
    }
    h2 {
        font-size: 400%;
    }
    #portfolio {
        height: 95%;
    }
    .skillList h4 {
        font-size: 250%;
    }
    .skillList span {
        font-size: 230%;
    }
    #contact p {
        font-size: 210%;
    }
    .network-name {
        font-size: 170%;
    }
    .linkedinBtn {
        width: 48px;
    }
    .githubBtn {
        width: 73px;
    }
    .linkedinContact,
    .github {
        border: 3px solid lightgrey;
    }
}

@media(max-width:824px) {
    .projectShowText h4 {
        margin-bottom: 5px;
    }
    .projectShowBtn,
    .projectGithubBtn {
        height: auto;
    }
    .projectShowBtn {
        bottom: 22%;
    }
    .projectShowText p {
        font-size: 115%;
    }
}

@media(max-width:824px) and (orientation: landscape){
    .portfolioBtn,
    .contactBtn {
        font-size: 100%;
        width: 140px;
    }
    .contactBtn {
        bottom: -10%;
    }
    h2 {
        font-size: 220%;
    }
    #about p {
        font-size: 100%;
    }
    .skillList h4 {
        font-size: 150%;
    }
    .skillList span {
        font-size: 120%;
    }
    #skills {
        height: auto;
    }
    .project {
        width: 280px;
        height: 280px;
    }
    #contact p {
        font-size: 100%;
    }
    #contact a {
        font-size: 100%;
    }
    footer p {
        font-size: 100%;
    }
}

@media(max-width:768px) and (orientation: portrait) {
    .portfolioBtn,
    .contactBtn {
        font-size: 160%;
        width: 185px;
    }
    .contactBtn {
        bottom: 6%;
    }
    .nav li {
        font-size: 110%;
    }
    #about p {
        font-size: 160%;
    }
    h2 {
        font-size: 350%;
    }
    .skillList h4 {
        font-size: 230%;
    }
    .skillList span {
        font-size: 210%;
    }
}

@media(max-width:681px) and (orientation: portrait){
    .skillList h4 {
        font-size: 150%;
        margin-bottom: 15px;
    }
    .firstSkillRow .skillList {
        width: 100%;
    }
    .firstSkillRow {
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    #contact a,
    #contact p {
        font-size: 120%;
    }
    h2 {
        font-size: 210%;
    }
    #about,
    #skills,
    #portfolio,
    #contact {
        height: auto;
    }
    .portfolioBtn,
    .contactBtn {
        font-size: 92%;
        width: 116px;
    }
    .portfolioBtn {
        bottom: 3.5%;
        left: -135%;
    }
    .contactBtn {
        bottom: -4.5%;
        left: -135%;
    }
    #about p {
        font-size: 110%;
    }
    .skillList span {
        font-size: 125%;
    }
    .skillList {
        margin-bottom: 30px;
    }
    .secondSkillRow .skillList {
        width: 100%;
    }
    .secondSkillRow {
        flex-wrap: wrap;
    }
    footer p {
        font-size: 90%;
    }
    .linkedinContact,
    .github {
        width: 140px;
    }
    .linkedinBtn {
        width: 23px;
    }
    .network-name {
        font-size: 100%;
    }
    .githubBtn {
        width: 36px;
    }
}

@media(max-width:569px) and (orientation: landscape){
    .portfolioBtn {
        bottom: 0;
    }
    .contactBtn {
        bottom: -25%;
    }
}

@media(max-width:376px) and (orientation: portrait){
    .project {
        width: 280px;
        height: 280px;
    }
    .portfolioBtn {
        bottom: 1.5%;
    }
    .contactBtn {
        bottom: -7%;
    }
    #contact li {
        margin-bottom: 5px;
    }
}
@media(max-width:320px) and (orientation: portrait){
    .portfolioBtn,
    .contactBtn {
        left: -142%;
    }
}