@import "variables";
@import "mixins";



body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    background-color: #e4b9c0;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: white;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($primary,20%);
    }
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(white, 0.3);
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #e4b9c0;
    .navbar-toggle {
        padding: 4px 6px;
        font-size: 16px;
        color: white;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .navbar-brand {
        font-weight: 700;
        color: white;
        &:focus {
            outline: none;
        }
    }
    a {
        color: white;
    }
    .nav {
        li {
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                &:hover {
                    color: rgba(white, 0.8);
                    outline: none;
                    background-color: transparent;
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
            }
            &.active {
                outline: none;
                a {
                    background-color: rgba(white, 0.3);
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            background: #e4b9c0;
            border-bottom: 1px solid rgba(white, 0.3);
        }
    }
}

.intro {
    display: table;
    width: 100%;
    height: 99%;
    padding: 80px 0;
    text-align: center;
    color: white;
    overflow: hidden;
    position: relative;

    .intro-body {
        display: table-cell;
        vertical-align: middle;

        .intro-text {
            font-size: 18px;
        }
    }
    @media(min-width:768px) {
        height: 100%;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 100px;
            }
            .intro-text {
                font-size: 26px;
            }
        }
    }
}



.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 100% !important;
    font-size: 40px;
    color: white;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover,
    &:focus {
        outline: none;
        color: white;
        background: rgba(white, 0.1);
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    &:hover {
        i.animated {
            -webkit-animation-name: pulse;
            -moz-animation-name: pulse;
            -webkit-animation-duration: 1.5s;
            -moz-animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    from {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: white;
    background-color: #e4b9c0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 150px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }

    .portfolio-download {
        padding-top: 30px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
    &:hover,
    &:focus {
        border: 1px solid $primary;
        outline: none;
        color: black;
        background-color: $primary;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    padding: 50px 0;
    p {
        margin: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: rgba(white, 0.2);
}

.project {
    width: 330px;
    height: 330px;
    background-color: white;
    display: inline-block;
}

.project:hover {
    cursor: pointer;
}

.memoryMatch {
    background-image: url("../img/Screenshot (16).png");
}

.expenseTracker {
    background-image: url("../img/Screenshot (17).png");
}

.paws {
    background-image: url("../img/Screenshot (18).png");
}

.memoryMatch,
.expenseTracker,
.paws {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.projectShow {
    display: none;
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
}

.projectShow h4,
.projectShow p {
    color: #5e5e5e;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.projectShowText {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
}

.projectShowBtn {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 120%;
}

.brand-heading {
    font-size: 490%;
}

.firstSkillRow .skillList {
    width: 33.3%;
}

.skillList {
    display: inline-block;
}

.skillList ul {
    list-style-type: none;
    padding: 0;
}

.skillList ul li {
    position: relative;
}
.icon {
    width: 25px;
    height: 25px;
}

.skillList span {
    font-size: 145%;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.skillList h4 {
    font-size: 170%;
}

h2 {
    font-size: 270%;
}

.mainSkillDiv {
    width: 100%;
}

.firstSkillRow {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.secondSkillRow {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#skills {
    padding-top: 100px;
    height: 100%;
}

#skills .download-section {
    padding-top: 40px;
}

.leftDiv,
.middleDiv,
.rightDiv {
    display: inline-block;
}

.intro-body {
    height: 100%;
}

.container,
.introContainer {
    height: 100%;
}

.introRow {
    height: 100%;
}

.introContainer {
    position: relative;
}

.leftDiv,
.middleDiv,
.rightDiv {
    position: absolute;
    height: 100%;
}

.leftDiv {
    width: 28%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.rightDiv {
    width: 28%;
    right: 0;
}

.middleDiv {
    width: 44%;
    left: 28%;
}

.leftDiv p,
.rightDiv p {
    position: absolute;
    font-family: 'Kanit', sans-serif;
}

.leftDiv p {
    font-size: 160%;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.welcome {
    top: 12%;
    right: 25%;
}

.to {
    top: 19%;
    right: 22%;
}

.the {
    top: 29%;
    right: 31%;
}

.portfolio {
    top: 37%;
    right: 0;
}

.of {
    top: 48%;
    right: 3%;
}

.middleDiv p {
    font-size: 2700%;
    font-weight: bold;
    text-shadow: 4px 12px 0 #ce8483;
}

.name {
    bottom: 42%;
    left: 3%;
}

.frontend {
    bottom: 35%;
    left: 3%;
    font-weight: bold;
    background-color: white;
    color: #e4b9c0;
    padding-left: 3px;
    padding-right: 3px;
}

.and {
    bottom: 28%;
    left: 3%;
}

.backend {
    bottom: 21%;
    left: 3%;
    font-weight: bold;
    background-color: white;
    color: #e4b9c0;
    padding-left: 3px;
    padding-right: 3px;
}

.developer {
    bottom: 14%;
    left: 3%;
}

.rightDiv p {
    left: 4%;
    font-size: 140%;
}

.portfolioBtn {
    bottom: 9%;
}

.contactBtn {
    bottom: 0;
}

.portfolioBtn,
.contactBtn {
    position: absolute;
    left: 5%;
    color: white;
    font-size: 120%;
    border-color: white;
}

.star1 {
    width: 130px;
    position: absolute;
    right: -160px;
    top: -100px;
    animation: starMove 6s infinite;
}

@keyframes starMove {
    from {
        transform: translate(80vw, -120vh);
    }
    to {
        transform: translate(-100vw, 120vh);
    }
}

.linkedinBtn,
.githubBtn {
    width: 22px;
    padding-right: 5%;
    vertical-align: middle;
}

.githubBtn {
    width: 35px;
}

.linkedinContact span,
.github span {
    vertical-align: middle;
}

#portfolio {
    padding-top: 100px;
}



@media(max-width:1024px) and (orientation: portrait){
    .nav li {
         font-size: 150%;
     }
    .leftDiv p {
        font-size: 220%;
    }
    .rightDiv p {
        font-size: 225%;
    }
    .middleDiv p {
        font-size: 3500%;
        position: relative;
        top: 14%;
    }
    .contactBtn {
        bottom: 7%;
    }
    .portfolioBtn {
        bottom: 13%;
    }
    .portfolioBtn,
    .contactBtn {
        font-size: 190%;
    }
    #about p {
        font-size: 175%;
    }
    h2 {
        font-size: 400%;
    }
    #portfolio {
        height: 95%;
    }
    .name {
        bottom: 40%;
    }
    .frontend {
        bottom: 35%;
    }
    .and {
        bottom: 30%;
    }
    .backend {
        bottom: 25%;
    }
    .developer {
        bottom: 20%;
    }
    .skillList h4 {
        font-size: 250%;
    }
    .skillList span {
        font-size: 230%;
    }
    #contact p {
        font-size: 210%;
    }
    .network-name {
        font-size: 170%;
    }
    .linkedinBtn {
        width: 48px;
    }
    .githubBtn {
        width: 73px;
    }
    .linkedinContact,
    .github {
        border: 3px solid lightgrey;
    }
}

@media(max-width:768px) and (orientation: portrait) {
    .portfolioBtn,
    .contactBtn {
        font-size: 160%;
    }
    .contactBtn {
        bottom: 6%;
    }
    .nav li {
        font-size: 110%;
    }
    .leftDiv p {
        font-size: 180%;
    }
    .rightDiv p {
        font-size: 165%;
    }
    .middleDiv p {
        font-size: 2700%;
    }
    #about p {
        font-size: 160%;
    }
    h2 {
        font-size: 350%;
    }
    .skillList h4 {
        font-size: 230%;
    }
    .skillList span {
        font-size: 210%;
    }
}

@media(max-width:576px) and (orientation: portrait){
    .skillList h4 {
        font-size: 150%;
        margin-bottom: 15px;
    }
    .firstSkillRow .skillList {
        width: 100%;
    }
    .firstSkillRow {
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    #contact a,
    #contact p {
        font-size: 120%;
    }
    h2 {
        font-size: 210%;
    }
    #about,
    #skills,
    #portfolio,
    #contact {
        height: auto;
    }
    .leftDiv p {
        font-size: 120%;
    }
    .middleDiv p {
        font-size: 2100%;
        top: -5%;
        right: 9%;
    }
    .rightDiv p {
        font-size: 120%;
        left: -24%;
    }
    .welcome {
        top: 3%;
        right: 20%;
    }
    .to {
        top: 7%;
    }
    .the {
        top: 13%;
    }
    .portfolio {
        top: 19%;
    }
    .of {
        top: 25%;
        right: 15%;
    }
    .portfolioBtn,
    .contactBtn {
        font-size: 92%;
        width: 116px;
    }
    .portfolioBtn {
        bottom: 3.5%;
        left: -140%;
    }
    .contactBtn {
        bottom: -4.5%;
        left: -140%;
    }
    .name {
        bottom: 25.5%;
    }
    .frontend {
        bottom: 20.5%;
    }
    .and {
        bottom: 15.5%;
    }
    .backend {
        bottom: 10.5%;
    }
    .developer {
        bottom: 5.5%;
    }
    #about p {
        font-size: 110%;
    }
    .skillList span {
        font-size: 125%;
    }
    .skillList {
        margin-bottom: 30px;
    }
    .secondSkillRow .skillList {
        width: 100%;
    }
    .secondSkillRow {
        flex-wrap: wrap;
    }
    footer p {
        font-size: 90%;
    }
    .linkedinContact,
    .github {
        width: 140px;
    }
    .linkedinBtn {
        width: 23px;
    }
    .network-name {
        font-size: 100%;
    }
    .githubBtn {
        width: 36px;
    }
}

@media(max-width:320px) and (orientation: portrait){
    .project {
        width: 280px;
        height: 280px;
    }
    .welcome {
        top: 0;
    }
    .to {
        top: 5%;
    }
    .the {
        top: 11%;
    }
    .portfolio {
        top: 17%;
    }
    .of {
        top: 22%;
    }
    .middleDiv p {
        font-size: 1800%;
        top: -10%;
        right: 14.5%;
    }
    .name {
        bottom: 29.5%;
    }
    .frontend {
        bottom: 24%;
    }
    .and {
        bottom: 18.5%;
    }
    .backend {
        bottom: 13%;
    }
    .rightDiv .developer {
        left: -50%;
        bottom: 7.5%;
    }
    .portfolioBtn {
        bottom: 1.5%;
    }
    .contactBtn {
        bottom: -7%;
    }
    #contact li {
        margin-bottom: 5px;
    }
}
@media(max-width:824px) and (orientation: landscape){
    .leftDiv p {
        font-size: 125%;
    }
    .middleDiv p {
        font-size: 1500%;
        position: relative;
        top: -15%;
    }
    .rightDiv p {
        font-size: 125%;
    }
    .to {
        top: 21%;
    }
    .the {
        top: 35%;
    }
    .portfolio {
        top: 43%;
    }
    .of {
        top: 58%;
    }
    .name {
        bottom: 65%;
    }
    .frontend {
        bottom: 53%;
    }
    .and {
        bottom: 41%;
    }
    .backend {
        bottom: 29%;
    }
    .developer {
        bottom: 17%;
    }
    .portfolioBtn,
    .contactBtn {
        font-size: 100%;
    }
    .contactBtn {
        bottom: -10%;
    }
    h2 {
        font-size: 220%;
    }
    #about p {
        font-size: 100%;
    }
    .skillList h4 {
        font-size: 150%;
    }
    .skillList span {
        font-size: 120%;
    }
    #skills {
        height: auto;
    }
    .project {
        width: 280px;
        height: 280px;
    }
    #contact p {
        font-size: 100%;
    }
    #contact a {
        font-size: 100%;
    }
    footer p {
        font-size: 100%;
    }
}
@media(max-width:569px) and (orientation: landscape){
    .middleDiv p {
        top: -30%;
    }
    .frontend {
        bottom: 50%;
    }
    .and {
        bottom: 35%;
    }
    .backend {
        bottom: 20%;
    }
    .developer {
        bottom: 5%;
    }
    .portfolioBtn {
        bottom: 0;
    }
    .contactBtn {
        bottom: -25%;
    }
}